<!-- templates/transactions_page.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VendMax - Transactions</title>
</head>
<body>
    <h1>Transaction History</h1>
    <ul>
        {% for transaction in transactions %}
            <li>Product ID: {{ transaction[1] }} - Quantity: {{ transaction[2] }} - Total Price: ${{ transaction[3] }} - Timestamp: {{ transaction[4] }}</li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('index') }}">Back to Home</a>
</body>
</html>
